h1 {
    text-align: center;
    color: rgb(92, 64, 51);
    padding-top: 10px;
}

h2 {
    text-align: center;
    color:rgb(92, 64, 51);
}

button {
    background-color:rgb(151, 105, 83); 
    border-color: rgb(133, 92, 73); 
    width: 100px; 
    height: 40px; 
    margin-left: 645px; 
    color:#3F261D;
}

body {
    background-color: #3F261D;
}

#box {
    background-color: burlywood;
    border-radius: 50px;
    border: 10px solid rgb(90, 62, 37);
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 250px;
    margin-left: 250px;
    padding-bottom: 75px;
}

#playerDice {
    text-align:center;
    color:rgb(92, 64, 51);
}

#computerDice {
    text-align: center; 
    color:rgb(92, 64, 51);
}

#playerTotal {
    text-align: center;
    color: rgb(92, 64, 51);
}

#computerTotal {
    text-align: center;
    color:rgb(92, 64, 51);
}

#winner {
    text-align: center; 
    color:rgb(92, 64, 51);
}

#playerScore {
    text-align: center;
    color:rgb(92, 64, 51);
}

#computerScore {
    text-align: center;
    color:rgb(92, 64, 51);
}

#playerDices {
    display: inline;
    padding-left: 375px;
    font-size: 30px;
    color: rgb(92, 64, 51);
}


#computerDices {
    display: inline;
    padding-inline: 300px;
    font-size: 30px;
    color: rgb(92, 64, 51);
}