
    .container {
        width: 70%;
        text-align: center;
        background-color: burlywood;
        border: 50px;
        border-color: solid black;
        border-radius: 50px;
        margin-top: 50px;
        margin-right: 250px;
        margin-left: 250px;
        padding-bottom: 75px;
    }

    .dice1 {
        text-align: center;
        display: inline-block;
        margin: 10px;
        width: 190px;
        padding-inline: 50px;
        
    }

    .dice2 {
        text-align: center;
        display: inline-block;
        margin: 10px;
        width: 190px;
    }

    .dice3 {
        text-align: center;
        display: inline-block;
        margin: 10px;
        width: 190px;
    }

    .dice4 {
        text-align: center;
        display: inline-block;
        margin: 10px;
        width: 190px;
    }

    body {
        background-color: #3F261D;
        margin: 0;
        padding-bottom: 50px;
    }

    h1 {
        margin: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 4.5rem;
        color: #3F261D;
        text-align: center;
    }

    p {
        font-size: 2rem;
        color: #3F261D;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    img {
        width: 100%;
    }

    .bottom {
        padding-top: 30px;
    }

    .butn {
        background: rgb(151, 105, 83); 
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 7px;
        border-color: #3F261D;
        color:#3F261D;
        font-size: 30px;
        padding: 16px 25px 16px 25px;
        text-decoration: none;
    }

    .butn:hover {
        background: #232931;
        text-decoration: none;
    }

